[general]
run_name = ampere_ga10b

[architecture_presets]
ArrayHeight:    16
ArrayWidth:     16
IfmapSramSzkB:   64
FilterSramSzkB:  64
OfmapSramSzkB:   32
IfmapOffset:    0
FilterOffset:   10000000
OfmapOffset:    20000000
Dataflow:       ws
Bandwidth:      4

[layout]
IfmapCustomLayout:  False
FilterCustomLayout: False
IfmapSRAMBankBandwidth: 8
IfmapSRAMBankNum: 4
IfmapSRAMBankPort: 2
FilterSRAMBankBandwidth: 8
FilterSRAMBankNum: 4
FilterSRAMBankPort: 2

# [sparsity]
# SparsitySupport: True
# SparseRep: csr
# OptimizedMapping: True
# BlockSize: 4
# RandomNumberGeneratorSeed: 42

[run_presets]
InterfaceBandwidth: USER
UseRamulatorTrace: False
TimeLinearModel: GA10b

[gpu]
OperandSize:        2
TensorCores:        32
NumSMs:             8
ClockFreqMHz:       1020
TotalBandwidthGBs:  102
